@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Sofia+Sans&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --accent-color: #ff0f7b;
    /* --bg-color: #fff;
    --text-color: black; */
    --bg-color: #000123;
    --text-color: white;
}

body {
    color: var(--text-color);
    font-family: 'Playfair Display', serif;
    background-color: var(--bg-color);
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 5em;
}

.gameInfos {
    position: absolute;
    top: 10%;
    left: 10%;
    text-align: justify;
}

#scoreAnchor, #timeAnchor {
    color: var(--accent-color);
}

.gamebtn {
    padding: 5px 10px;
    margin: 4px 12px;
    border-radius: 10px;
    color: white;
    font-family: 'Sofia Sans', sans-serif;
    background-color: var(--accent-color);
    text-decoration: none;
}

.gamebtn:hover {
    transform: scale(1.1);
    box-shadow: 4px 4px #321123;
}

.gamebtn:active {
    transform: scale(0.8);
    background-color: #321123;
    box-shadow: none;
}

.accent {
    color: var(--accent-color);
}

h1, h2 {
    font-family: 'Sofia Sans', sans-serif;
}

main {
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

blockquote {
    white-space: pre-line;
    margin: 0px 50px;
    font-size: 1.1em;
    /* background-color: transparent; */
}

/* blockquote::before {
    position: absolute;
    top: 10%;
    left: 10%;
    content: "";
    background-repeat: no-repeat;
    background-clip: border-box;
    width: 500px;
    height: 500px;
    background-image: url("/static/assets/quote.png");
    z-index: -1;
    transform: scale(0.2);
} */

ul {
    list-style: none;
}

li  {
    cursor: pointer;
}

@media (max-width: 800px){
    .gamebtn {
        max-width: 200px;
    }
}

@media (max-width: 400px){
    main {
        text-align: center;
    }
}